html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	border: none;
	overflow: hidden;
}

.square {
	background: #a81356;
	position: absolute;
	top: 100px;
	left: 100px;
	height: 100px;
	width: 100px;
  }